@charset "UTF-8";.c-details-graph {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: .53125rem
}

.c-details-graph>.piece {
    min-width: 1px
}

.c-details-graph>.piece.zero {
    display: none
}

.c-details-graph>.piece+.piece {
    margin-left: 1px
}

.c-details-graph>.piece:first-of-type {
    margin-left: 0
}

.c-details-graph.empty .piece {
    min-width: 0
}

.c-user-cell {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    position: relative;
    width: 9.5rem;
    line-height: 1.5rem;
    margin-right: .25rem;
    font-size: .75rem;
    z-index: 1000;
    background-color: #00000001;
    box-shadow: 0 0 0 .5rem #00000001;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: clip
}

.c-user-cell .user-cell-wrap {
    display: flex;
    flex-direction: column;f
    justify-content: center;
    align-content: stretch;
    width: 100%;
    height: 100%
}

#root.singleline .c-user-cell .user-cell-wrap,#root.hide-name .c-user-cell .user-cell-wrap {
    flex-direction: row;
    max-height: 1.5rem
}

.c-user-cell .user-cell-wrap:hover~.c-details {
    opacity: 1
}

#root.layout-mode .c-user-cell .user-cell-wrap~.c-details {
    opacity: .5;
    border-bottom: 1px solid red
}

.c-user-cell .user-cell-wrap:last-child {
    margin-right: 0
}

.c-user-cell .user-cell-wrap .name-row,.c-user-cell .user-cell-wrap .values {
    color: #fff
}

.c-user-cell .user-cell-wrap .name-row {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    text-overflow: clip;
    overflow-x: hidden
}

#root.singleline .c-user-cell .user-cell-wrap .name-row,#root.hide-name .c-user-cell .user-cell-wrap .name-row {
    justify-content: flex-start;
    text-shadow: 0 0 .3rem #000
}

#root.hide-name:not(.hide-job-icons) .c-user-cell .user-cell-wrap .name-row {
    flex-basis: 1.5rem;
    flex-grow: 0
}

#root.hide-name.hide-job-icons .c-user-cell .user-cell-wrap .name-row {
    display: none
}

.c-user-cell .user-cell-wrap .name-row>* {
    vertical-align: top
}

.c-user-cell .user-cell-wrap .name-row>.icon {
    display: inline-block;
    margin: .125rem;
    flex-shrink: 0;
    font-size: 1.25rem;
    line-height: 1em;
    width: 1em
}

#root.hide-job-icons .c-user-cell .user-cell-wrap .name-row>.icon {
    display: none!important
}

.c-user-cell .user-cell-wrap .name-row>.name {
    text-shadow: 0 0 .15rem rgba(0,0,0,.5333333333),0 0 .3rem #000,0 0 .3rem #000;
    min-width: 0
}

#root.singleline .c-user-cell .user-cell-wrap .name-row>.name {
    text-shadow: inherit
}

#root.hide-name .c-user-cell .user-cell-wrap .name-row>.name {
    display: none
}

#root.hide-job-icons .c-user-cell .user-cell-wrap .name-row>.name {
    padding-left: .375rem
}

#root.blur-name .c-user-cell .user-cell-wrap .name-row>.name {
    filter: blur(.2rem);
    -webkit-filter: blur(.2rem)
}

.c-user-cell .user-cell-wrap .values {
    display: flex;
    padding: 0 .375rem;
    text-shadow: 0 0 .3rem #000;
    cursor: default
}

#root.hide-name .c-user-cell .user-cell-wrap .values {
    flex-grow: 1
}

#root.hide-name:not(.hide-job-icons) .c-user-cell .user-cell-wrap .values {
    padding-left: 0
}

.c-user-cell .user-cell-wrap .values>.l,.c-user-cell .user-cell-wrap .values>.r {
    z-index: 1001
}

.c-user-cell .user-cell-wrap .values>.l {
    text-align: left;
    margin-right: auto
}

#root.single-value .c-user-cell .user-cell-wrap .values>.l {
    margin-left: auto
}

#root.force-singleline-allowed:not(.single-value):not(.hide-name) .c-user-cell .user-cell-wrap .values>.l {
    opacity: .666
}

#root.force-singleline-allowed:not(.single-value):not(.hide-name) .c-user-cell .user-cell-wrap .values>.l.zero {
    display: none
}

#root.force-singleline-allowed:not(.single-value):not(.hide-name) .c-user-cell .user-cell-wrap .values>.l.zero~.r {
    margin-left: 0
}

.c-user-cell .user-cell-wrap .values>.r {
    text-align: center
}

#root.force-singleline-allowed .c-user-cell .user-cell-wrap .values>.r {
    margin-left: .25rem
}

.c-user-cell .c-details {
    position: absolute;
    top: 3.25rem;
    left: 0;
    opacity: 0
}

#root.singleline .c-user-cell .c-details,#root.hide-name .c-user-cell .c-details {
    top: 1.75rem
}

.c-user-cell .c-details:hover {
    opacity: 1
}

.c-user-cell .tickers {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    height: 1.5rem;
    z-index: -1;
    background-color: #11111180
}

#root.cell-opaque .c-user-cell .tickers {
    background-color: #111
}

#root.cell-tinted .c-user-cell .tickers {
    background-color: transparent;
    box-shadow: 0 0 8rem -4rem var(--job-color, var(--job-gauge-default)) inset,0 0 0 1rem #1116 inset
}

.c-user-cell .tickers .ticker,.c-user-cell .tickers .c-details-graph {
    position: relative;
    flex-shrink: 0
}

.c-user-cell .tickers .ticker.above,.c-user-cell .tickers .c-details-graph.above {
    order: 1;
    margin-top: -.125rem;
    transform: translateY(-1px)
}

.c-user-cell .tickers .ticker.top,.c-user-cell .tickers .c-details-graph.top {
    order: 2;
    top: 0;
    margin-bottom: 1px
}

.c-user-cell .tickers .ticker.main,.c-user-cell .tickers .c-details-graph.main {
    order: 3
}

.c-user-cell .tickers .ticker.bottom,.c-user-cell .tickers .c-details-graph.bottom {
    order: 4;
    bottom: 0;
    margin-top: 1px
}

.c-user-cell .tickers .ticker.below,.c-user-cell .tickers .c-details-graph.below {
    order: 5;
    margin-bottom: -.125rem;
    transform: translateY(1px)
}

#root.main-ticker-will-not-yield .c-user-cell .tickers .ticker.main,#root.main-ticker-will-not-yield .c-user-cell .tickers .c-details-graph.main {
    margin: 0
}

#root.main-ticker-will-not-yield .c-user-cell .tickers .ticker.top,#root.main-ticker-will-not-yield .c-user-cell .tickers .ticker.bottom,#root.main-ticker-will-not-yield .c-user-cell .tickers .c-details-graph.top,#root.main-ticker-will-not-yield .c-user-cell .tickers .c-details-graph.bottom {
    position: absolute
}

.c-user-cell .tickers .ticker {
    background: var(--job-color, var(--job-gauge-default))
}

.c-user-cell .tickers .ticker.main {
    align-self: flex-start;
    flex-grow: 100
}

.c-user-cell .tickers .c-details-graph {
    width: calc(100% + 1px);
    height: .125rem;
    z-index: 1001
}

.c-user-cell .tickers .c-details-graph.dps-crit {
    align-self: flex-end
}

.c-user-cell .tickers .c-details-graph.dps-crit .piece:nth-child(1) {
    background: transparent
}

.c-user-cell .tickers .c-details-graph.healer-pct {
    align-self: flex-start
}

.c-details-row {
    display: flex;
    flex-wrap: wrap;
    font-size: .75rem;
    line-height: 1.0625rem
}

.c-details-row>.title {
    text-align: left;
    flex-shrink: 1
}

.c-details-row>.values {
    text-align: right;
    flex-grow: 1;
    height: 1.0625rem;
    max-width: 100%;
    overflow-x: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap
}

.c-details-row>.values+.values {
    width: 100%;
    opacity: .5
}

.c-details {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    display: flex;
    flex-direction: column;
    width: 7.5rem;
    margin-left: 0rem;
    padding: .375rem;
    background-color: #111111bf;
    color: #fff;
    overflow-x: auto;
    transition: opacity .2s ease;
    pointer-events: none;
    z-index: 3000
}

.c-details hr {
    margin: .25rem 0;
    border: solid rgba(255,255,255,.5);
    border-width: 0 0 1px 0
}

.c-details var {
    font-style: normal
}

.c-details .row {
    border-left: .125rem solid rgba(255,255,255,.5333333333);
    padding-left: .25rem
}

.c-details .c-details-graph {
    padding: .25rem 0;
    height: .75rem
}

.details-group.dps .row {
    border-left-color: #ff6e2c
}

.details-group.healer .row {
    border-left-color: #00e676
}

.details-group.tank .row {
    border-left-color: #82b1ff
}

.c-parts-userlist {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center
}

#root.align-left .c-parts-userlist {
    justify-content: flex-start
}

#root.align-right .c-parts-userlist {
    justify-content: flex-end
}

#root.align-left.theme-minimal .c-parts-userlist {
    padding-left: 7.75rem
}

#root.align-right.theme-minimal .c-parts-userlist {
    padding-right: 7.75rem
}

#root.order-by-asc.align-right.theme-minimal .c-parts-userlist {
    clip-path: polygon(0 0,calc(100vw - 7.75rem) 0,calc(100vw - 7.75rem) calc(100% + .25rem),100vw calc(100% + .25rem),100vw 100vh,0 100vh)
}

#root.order-by-desc.align-left.theme-minimal .c-parts-userlist {
    clip-path: polygon(100vw 0,7.75rem 0,7.75rem calc(100% + .25rem),0 calc(100% + .25rem),0 100vh,100vw 100vh)
}

.c-parts-userlist>ul {
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    justify-content: flex-start
}

#root.order-by-desc .c-parts-userlist>ul {
    justify-content: flex-end
}

.c-parts-userlist>ul .c-user-cell {
    flex-shrink: 0
}

.c-parts-userlist>ul .c-user-cell:last-of-type {
    margin-right: 0
}

#root.singleline.has-subticker-above-edge .c-parts-userlist {
    margin-top: calc(.125rem + 1px)
}

.c-navbar-wrapper {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    display: flex;
    position: relative;
    width: 25rem;
    max-width: 100vw;
    height: 1.5rem;
    margin: .25rem auto;
    padding: 0;
    line-height: 1.5rem;
    color: #fff;
    background: #11111180;
    font-size: .75rem;
    text-shadow: 0 0 .3rem #000
    border-bottom: 1px solid red
}

#root.cell-opaque .c-navbar-wrapper {
    background-color: #111
}

#root.align-left .c-navbar-wrapper {
    margin-left: 0
}

#root.align-right .c-navbar-wrapper {
    margin-right: 0
}

.c-navbar-wrapper .location {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    mask-image: linear-gradient(to right,#fff 0%,#fff 90%,transparent 100%);
    -webkit-mask-image: linear-gradient(to right,#fff 0%,#fff 90%,transparent 100%);
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 0 0 .5rem;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: clip
    border-bottom: 1px solid red
}

.c-navbar-wrapper .location time {
    background: none;
    color: #660000
}

.c-navbar-wrapper .location time .s:before {
    content: ":"
}

.c-navbar-wrapper .info {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    margin-left: auto
}

.c-navbar-wrapper .info .rdps:before {
    content: " ・ "
}

.c-navbar-wrapper .info,.c-navbar-wrapper .buttons {
    flex-grow: 0;
    flex-shrink: 0
}

.c-navbar-wrapper .buttons {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    display: flex;
    margin-left: .125rem
}

.c-navbar-wrapper .button {
    width: 1.125rem;
    height: 1.5rem;
    filter: drop-shadow(0 0 .3rem #000);
    outline: none;
    box-shadow: 0 0 0 -1px red inset
}

.c-navbar-wrapper .dropdown {
    position: absolute;
    top: 1.5rem;
    right: 0;
    background: #111c;
    z-index: 4000
}

.c-navbar-wrapper .dropdown li {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    padding: .125rem .5rem;
    text-align: right
}

.c-navbar-wrapper .c-details {
    position: absolute;
    top: 1.75rem;
    left: 0;
    opacity: 0
}

.c-navbar-wrapper .location:hover~.c-details {
    opacity: 1
}

#root.theme-tokyu .c-navbar-wrapper,#root.theme-keikyu .c-navbar-wrapper {
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    width: 18rem;
    height: 4rem;
    line-height: 1.25rem;
    padding: 0
}

#root.theme-tokyu .c-navbar-wrapper .location,#root.theme-keikyu .c-navbar-wrapper .location {
    -webkit-mask-image: none;
    mask-image: none
}

#root.theme-tokyu .c-navbar-wrapper .versioninfo,#root.theme-keikyu .c-navbar-wrapper .versioninfo {
    display: none
}

#root.theme-tokyu .c-navbar-wrapper>.button,#root.theme-keikyu .c-navbar-wrapper>.button {
    position: absolute;
    right: 0;
    bottom: 0
}

#root.theme-tokyu .c-navbar-wrapper .dropdown,#root.theme-tokyu .c-navbar-wrapper .c-details,#root.theme-keikyu .c-navbar-wrapper .dropdown,#root.theme-keikyu .c-navbar-wrapper .c-details {
    top: 4rem
}

#root.theme-tokyu .c-navbar-wrapper .buttons,#root.theme-keikyu .c-navbar-wrapper .buttons {
    position: absolute;
    top: 0;
    right: 0
}

#root.theme-tokyu .c-navbar-wrapper .location {
    border-bottom: .125rem solid #fff;
    padding: .25rem 0 .375rem
}

#root.theme-tokyu .c-navbar-wrapper .location time {
    display: inline-block;
    align-items: center;
    color: #fff!important;
    background-color: #960000;
    width: 2.75rem;
    height: 1.25rem;
    margin-right: .125rem
}

#root.theme-tokyu .c-navbar-wrapper .info {
    width: 100%;
    border-top: .5rem solid #EE86A7;
    padding-top: .125rem
}

#root.theme-keikyu .c-navbar-wrapper {
    background: #00005080
}

#root.theme-keikyu .c-navbar-wrapper .location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: .125rem solid skyblue;
    flex-grow: 1
}

#root.theme-keikyu .c-navbar-wrapper .location time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: .625rem;
    margin-right: .5rem;
    color: #000;
    background-color: #fff;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: .125rem solid skyblue
}

#root.theme-keikyu .c-navbar-wrapper .location time>span {
    display: block;
    text-shadow: none!important
}

#root.theme-keikyu .c-navbar-wrapper .location time .m {
    font-size: .625rem
}

#root.theme-keikyu .c-navbar-wrapper .location time .s:before {
    content: ""
}

#root.theme-keikyu .c-navbar-wrapper .info {
    width: 100%;
    display: flex;
    padding: 0 1.5rem;
    justify-content: space-between;
    border-top: .25rem solid white;
    height: 1.5rem
}

#root.theme-keikyu .c-navbar-wrapper .info .rdps:before {
    display: none
}

#root.theme-minimal .c-navbar-wrapper {
    width: 7.5rem
}

#root.theme-minimal .c-navbar-wrapper .location {
    padding-left: .375rem
}

#root.theme-minimal .c-navbar-wrapper .location time+span {
    display: none
}

#root.theme-minimal .c-navbar-wrapper .info {
    padding-right: .375rem
}

#root.theme-minimal .c-navbar-wrapper .info .rdps:before {
    content: " "
}

#root.theme-minimal .c-navbar-wrapper .buttons {
    margin: 0
}

#root.theme-minimal .c-navbar-wrapper .buttons>.button:first-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    opacity: 0
}

#root.theme-minimal.align-left .c-navbar-wrapper,#root.theme-minimal.align-right .c-navbar-wrapper {
    margin-top: -1.5rem
}

#root.theme-korail-tgis .c-navbar-wrapper {
    background: #00f;
    text-shadow: none;
    border: 1px solid #fff
}

#root.theme-korail-tgis .c-navbar-wrapper:before,#root.theme-korail-tgis .c-navbar-wrapper .location,#root.theme-korail-tgis .c-navbar-wrapper .info,#root.theme-korail-tgis .c-navbar-wrapper .dropdown {
    font-family: Dotum,MS PGothic,sans-serif;
    letter-spacing: -.083em
}

#root.theme-korail-tgis .c-navbar-wrapper .location {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    overflow: hidden;
    mask-image: none;
    -webkit-mask-image: none
}

#root.theme-korail-tgis .c-navbar-wrapper .location>time {
    color: inherit;
    margin-right: .5rem
}

#root.theme-korail-tgis .c-navbar-wrapper .location>span {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: clip
}

#root.theme-korail-tgis .c-navbar-wrapper .info {
    padding-right: .5rem
}

#root.theme-korail-tgis .c-navbar-wrapper .info .rdps:before {
    content: "　"
}

#root.theme-korail-tgis .c-navbar-wrapper .location,#root.theme-korail-tgis .c-navbar-wrapper .info {
    position: relative;
    padding-left: 2.5rem
}

#root.theme-korail-tgis .c-navbar-wrapper .location:before,#root.theme-korail-tgis .c-navbar-wrapper .info:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.2rem;
    margin: auto;
    width: 1.5px;
    height: 100%;
    background: #fff;
    transform: skew(-56.25deg);
    transform-origin: center
}

#root.theme-korail-tgis .c-navbar-wrapper .buttons {
    margin: 0
}

#root.theme-korail-tgis .c-navbar-wrapper .buttons>.button {
    position: absolute;
    right: 0;
    width: 4rem;
    opacity: 0
}

#root.theme-korail-tgis .c-navbar-wrapper .dropdown {
    background: none
}

#root.theme-korail-tgis .c-navbar-wrapper .dropdown>li {
    margin-top: 1px;
    border: 1px solid #fff;
    background: #00f;
    text-align: center
}

#root.theme-korail-tgis .c-navbar-wrapper:before {
    padding: 0 0 0 2.25rem;
    content: "운전상태";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWBAMAAAAoU0G7AAAABlBMVEUAAP////973JksAAAAVUlEQVQoz12PURYAIQgC4QZ4/8uWD3Vt/bAmFBP/0IYIgZH5Rl6iAQV+r2osRfYKFTCd2ux2UMTA5/wA1UMNmJmZuAEP9J/daOGe5VDL2EBrM0sDwgHWxwnAe5IljgAAAABJRU5ErkJggg==);
    background-size: 1.5rem 1.375rem;
    background-repeat: no-repeat;
    background-position: .5rem center
}

#root.theme-korail-tgis.active .c-navbar-wrapper:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWBAMAAAAoU0G7AAAABlBMVEUAAP////973JksAAAAUklEQVQoz3WPQQ7AIAgElx8w//9spYBik3IwDg6S1bd8AriMOFfFhQYVZL/sHsLbusDQDzC1ADvaAL1WrVlPF9iBXBtdry86jNhABkqNEWcHdT1GaAh6qM12ZAAAAABJRU5ErkJggg==)
}

.c-layout-mode-wrapper {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    display: flex;
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    width: 12.5rem;
    height: 1.5rem;
    margin-top: 0;
    text-indent: .5rem;
    font-size: .75rem;
    z-index: 3600
}

.c-layout-mode-wrapper h4 {
    flex-grow: 1;
    margin: 0;
    text-align: center
}

.c-layout-mode-wrapper h4>span {
    flex-grow: 1
}

.tab-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden
}

.tab-container .tab-list {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    background: #111111e6;
    font-size: .75rem;
    line-height: 1.5rem
}

.tab-container .tab-list li {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    padding: 0 .5rem
}

.tab-container .tab-list li.active {
    box-shadow: 0 -.125rem #fff inset
}

.tab-container .tab-content {
    flex-grow: 1;
    padding: .5rem .5rem .5rem 1rem;
    overflow-y: scroll
}

.tab-container .tab-content.has-another-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: hidden
}

.tab-content-presentation {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    flex-shrink: 0;
    text-align: center;
    margin: .25rem 0 0;
    background: #111111e6;
    overflow: hidden
}

.c-settings-group-content>.tab-content-presentation {
    margin-left: -1.25rem
}

.tab-content-presentation img,.tab-content-presentation svg {
    vertical-align: top;
    fill: #fff;
    stroke: #fff
}

.c-settings-group>h5 {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0 .25rem 0 1rem;
    font-weight: 600;
    height: 2rem;
    font-size: inherit
}

.c-settings-group>h5>button {
    position: relative;
    margin-left: auto;
    width: 2rem;
    height: 2rem;
    outline: none
}

.c-settings-group>h5>button:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: .375rem;
    height: .375rem;
    border: solid #fff;
    border-width: 0 .125rem .125rem 0;
    transform: rotate(-45deg)
}

.c-settings-group>h5>button.show:after {
    transform: rotate(0)
}

.c-settings-group>.c-settings-group-content>.c-settings-group {
    margin-left: -1rem
}

.c-settings-group-content {
    padding: 0 1rem 0 2.25rem
}

.c-settings-group-content .c-version svg {
    margin-left: -.75rem
}

.tab-container .c-settings-group {
    margin-right: -.25rem
}

.tab-container .c-settings-group h5 {
    padding: 0
}

.tab-container .c-settings-group .c-settings-group-content {
    padding: 0 0 0 1.25rem
}

.c-settings-checkbox .input {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0
}

.c-settings-checkbox .input:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    opacity: .2;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polyline stroke="rgb(255,255,255)" fill="none" stroke-width="2" points="4 12 9 17 20 6"/></svg>');
    background-position: center;
    background-size: 1.5rem;
    background-repeat: no-repeat
}

.c-settings-checkbox .input.checked:after {
    opacity: 1
}

.c-settings-checkbox.small .input {
    width: 1rem;
    height: 1rem
}

.c-settings-checkbox.small .input:after {
    width: 1rem;
    height: 1rem;
    background-size: 1rem
}

.c-settings-radio-button .toggles {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    display: flex;
    padding: 0
}

.c-settings-radio-button .toggles>li {
    flex-grow: 1;
    padding: 0 .25rem;
    margin: 0 .5px;
    width: unset;
    text-align: center
}

.c-settings-radio-button .toggles>li.active {
    color: #111c;
    background-color: #fff
}

.c-settings-radio-button .toggles>li:last-of-type {
    margin-right: 0
}

.c-settings-radio-button.equal-width li {
    flex: 1
}

.c-settings-radio-button.mode-single .toggles>li {
    background-image: none
}

.c-settings-radio-button.mode-multiple .toggles>li {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><rect x="3.5" y="4.5" width="4" height="4" fill="none" stroke="rgb(255,255,255)" /></svg>')
}

.c-settings-radio-button.mode-multiple .toggles>li.active {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M3.5,5l2,2l4,-4l1.414,1.414l-5.414,5.414l-3.414,-3.414z" fill="rgb(17,17,17)" /></svg>')
}

.dropdown-label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    position: relative
}

.c-settings-dropdown-body {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 15rem;
    overflow-y: auto;
    line-height: 1.5rem;
    background: #111;
    box-shadow: 0 0 0 1px inset;
    z-index: 3510
}

.c-settings-dropdown-body>li {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    padding: 0 .5rem;
    text-align: right;
    text-overflow: clip;
    overflow: hidden;
    word-wrap: keep-all;
    white-space: nowrap
}

.c-settings-dropdown-body>li.active {
    font-weight: 600;
    box-shadow: -.25rem 0 inset;
    background-color: #fff3
}

.c-settings-dropdown {
    position: relative
}

.multiple-dropdown-wrap {
    display: flex
}

.multiple-dropdown-wrap .dropdown-label {
    width: 6.66rem;
    margin: 0 0 0 1px
}

.multiple-dropdown-wrap .dropdown-label:only-of-type {
    width: 10rem
}

.c-settings-number .input {
    display: flex;
    align-items: stretch;
    width: 10rem;
    height: 1.5rem;
    padding: 0
}

.c-settings-number .input>button,.c-settings-number .input>input {
    line-height: 1.375rem!important
}

.c-settings-number .input>button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    width: 1.5rem
}

.c-settings-number .input>button.minus {
    border-right: 1px solid #fff
}

.c-settings-number .input>button.plus {
    border-left: 1px solid #fff
}

.c-settings-number .input>input {
    flex-grow: 1;
    width: 0;
    text-align: center
}

.c-settings-number .input>input,.c-settings-number .input>input::-webkit-inner-spin-button,.c-settings-number .input>input::-webkit-outer-spin-button {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none
}

.c-settings-input-string-wrap {
    display: inline-flex;
    align-items: center;
    height: 100%
}

.c-settings-input-string-wrap .button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer
}

.c-settings-input-string-wrap .input-text {
    vertical-align: top
}

.c-settings-textlist .label {
    align-self: flex-start
}

.c-settings-textlist .textlist-wrap>li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem
}

.c-settings-textlist .textlist-wrap>li .buttons {
    height: 1.5rem;
    margin-right: .25rem
}

.color-scheme-demo.color-scheme-demo {
    position: relative;
    display: flex;
    justify-content: center;
    margin: .5rem auto;
    text-align: center;
    line-height: 1.25rem
}

.color-scheme-demo.color-scheme-demo .icon {
    position: relative;
    flex-grow: 1;
    width: 1rem;
    height: 1rem;
    text-indent: -.0625rem
}

.color-scheme-demo.color-scheme-demo .ticker {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 175%;
    margin-bottom: -37.5%;
    z-index: -1;
    background: var(--job-color)
}

.c-settings-group-content .color-scheme-demo {
    margin-left: -1rem
}

.w-settings-layout-preview {
    height: 3.5rem
}

.c-version {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    flex-wrap: wrap
}

.c-version p {
    display: flex;
    margin: .5rem 0 .25rem
}

.c-version>svg {
    display: block;
    margin: 0 auto
}

.c-version.without-version-number>.justify {
    display: none
}

.window-wrap>.c-version {
    padding: .5rem .75rem .5rem 1rem
}

.window-wrap>.c-version svg {
    margin: 0 auto
}

.never-show .label {
    display: inline-flex
}

.never-show .label span {
    margin-right: auto
}

.changelog .c-version p {
    display: none
}

.changelog .c-settings-group-content p {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    display: block;
    margin: .5rem 0
}

.changelog .muted {
    opacity: .5
}

body {
    margin: 0;
    padding: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

li {
    margin: 0;
    padding: 0
}

input,button,textarea,select {
    font: inherit;
    font-size: 1em;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    color: inherit;
    outline: none
}

a {
    text-decoration: none;
    color: inherit
}

var,i {
    font-style: normal
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: Lato,Meiryo UI,Segoe UI,Malgun Gothic,sans-serif;
    overflow: hidden
}

html,body,#root {
    height: 100%
}

.hidden {
    display: none
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    background: none;
    cursor: col-resize;
    margin-right: 0
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
    background-size: 2px calc(100% - .5rem);
    background-position: 25% center;
    background-repeat: no-repeat;
    border-radius: 0
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(to right,#ffffff80,#ffffff80);
    background-size: 1px calc(100% - .5rem)
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right,#fff,#fff)
}

::-webkit-scrollbar-corner {
    background: none
}

.window {
    position: relative;
    margin: .25rem auto 0;
    width: 25rem;
    font-size: .875rem;
    line-height: .875rem;
    background: #111c;
    color: #fff;
    z-index: 3500
}

#root.align-left .window {
    margin-left: 0
}

#root.align-right .window {
    margin-right: 0
}

.window h4 {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 0 .5rem;
    font-weight: inherit;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .75rem;
    background: #111111e6
}

.window h4 .button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    vertical-align: top
}

.window h4 .stroke {
    stroke: #fff
}

.window .window-wrap {
    line-height: 2rem;
    padding: .5rem 0;
    height: 18.5rem;
    max-height: calc(100vh - 6.5rem);
    overflow-y: scroll
}

.window .window-wrap>.c-settings-input,.window .window-wrap>blockquote,.window .window-wrap>p {
    padding: 0 .75rem 0 1rem
}

.window .window-wrap>hr {
    margin: .5rem .75rem .5rem 1rem
}

.window .window-wrap.without-wrapper {
    padding: 0;
    overflow-y: hidden
}

.window .c-settings-input,.window .settings-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0
}

.window .c-settings-input .label,.window .settings-item .label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    flex-grow: 10;
    padding-right: .5rem
}

.window .c-settings-input.small,.window .settings-item.small {
    font-size: .75em;
    line-height: 1.5rem
}

.window .c-settings-input.small .label,.window .settings-item.small .label {
    text-align: right
}

.window blockquote {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    display: block;
    line-height: 1.125rem;
    margin: 0 0 .75rem;
    font-size: .8rem;
    opacity: .5
}

.window blockquote.text {
    opacity: 1
}

.window p {
    margin: .5rem 0;
    line-height: 1.25rem
}

.window p.justify {
    justify-content: space-between
}

.window hr {
    margin: .5rem;
    border: 0;
    border-top: 1px solid rgba(255,255,255,.25)
}

.window .disabled {
    opacity: .25
}

.window .center {
    text-align: center;
    align-self: center
}

.input,.input-wrap {
    display: inline-block;
    width: 10rem;
    height: 1.5rem
}

.input {
    box-shadow: 0 0 0 1px #fff inset;
    line-height: 1.375rem;
    padding: 0 .5rem 0 .25rem;
    text-align: right
}

.hinted {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M3,3v6h6z" fill="rgb(255,255,255)" /></svg>');
    background-size: .75rem .75rem;
    background-position: left bottom;
    background-repeat: no-repeat
}

#root.layout-mode {
    box-shadow: 0 0 0 1px red inset;
    background-color: #3003;
    background-image: linear-gradient(to bottom,red,red),linear-gradient(to bottom,red,red),url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 320"><rect x="0.5" y="0.5" width="399" height="319" fill="none" stroke="rgba(255, 0, 0, 0.99)" stroke-width="1"/></svg>');
    background-size: 100% 1px,1px 100%,25rem 20rem;
    background-position-x: 0,center,center;
    background-position-y: 3rem,center,3.25rem;
    background-repeat: no-repeat
}

#root.layout-mode.align-left {
    background-position-x: 0,left,left
}

#root.layout-mode.align-right {
    background-position-x: 0,right,right
}

#root.layout-mode.singleline {
    background-position-y: 1.5rem,center,3.5rem
}

#root.layout-mode.singleline.theme-minimal:not(.align-center) {
    background-position-y: 1.5rem,center,1.75rem
}

#root.layout-mode.singleline.theme-keikyu,#root.layout-mode.singleline.theme-tokyu {
    background-position-y: 1.5rem,center,6rem
}

.dps-crit .piece.p0 {
    background-color: #fff;
    fill: #fff
}

.dps-crit .piece.p1 {
    background-color: #1de9b6;
    fill: #1de9b6
}

.dps-crit .piece.p2 {
    background-color: #ffca28;
    fill: #ffca28
}

.dps-crit .piece.p3 {
    background-color: #ff6f00;
    fill: #ff6f00
}

.healer-pct .piece.p0 {
    background-color: #40c4ff;
    fill: #40c4ff
}

.healer-pct .piece.p1 {
    background-color: #00e676;
    fill: #00e676
}

.healer-pct .piece.p2 {
    background-color: #b9f6ca;
    fill: #b9f6ca
}

.healer-pct .piece.p3 {
    background-color: #ec8986;
    fill: #ec8986
}

.healer-pct .piece.p4 {
    background-color: #e53935;
    fill: #e53935
}

.scheme-kagerou-material .class-gauge-default {
    --job-color: #444
}

.scheme-kagerou-material .class-pld,.scheme-kagerou-material .class-gla {
    --job-color: rgb(21, 28, 100)
}

.scheme-kagerou-material .class-war,.scheme-kagerou-material .class-mrd {
    --job-color: rgb(153, 23, 23)
}

.scheme-kagerou-material .class-drk {
    --job-color: rgb(136, 14, 79)
}

.scheme-kagerou-material .class-gnb {
    --job-color: rgb(78, 52, 46)
}

.scheme-kagerou-material .class-mnk,.scheme-kagerou-material .class-pgl {
    --job-color: rgb(245, 124, 0)
}

.scheme-kagerou-material .class-drg,.scheme-kagerou-material .class-lnc {
    --job-color: rgb(63, 81, 181)
}

.scheme-kagerou-material .class-nin,.scheme-kagerou-material .class-rog {
    --job-color: rgb(211, 47, 47)
}

.scheme-kagerou-material .class-sam {
    --job-color: rgb(255, 202, 40)
}

.scheme-kagerou-material .class-rpr {
    --job-color: rgb(255, 160, 0)
}

.scheme-kagerou-material .class-vpr {
    --job-color: rgb(136, 8, 8)
}

.scheme-kagerou-material .class-brd,.scheme-kagerou-material .class-arc {
    --job-color: rgb(158, 157, 36)
}

.scheme-kagerou-material .class-mch {
    --job-color: rgb(0, 151, 167)
}

.scheme-kagerou-material .class-smn,.scheme-kagerou-material .class-acn {
    --job-color: rgb(46, 125, 50)
}

.scheme-kagerou-material .class-blm,.scheme-kagerou-material .class-thm {
    --job-color: rgb(126, 87, 194)
}

.scheme-kagerou-material .class-rdm {
    --job-color: rgb(233, 30, 99)
}

.scheme-kagerou-material .class-pct {
    --job-color: rgb(255, 235, 59)
}

.scheme-kagerou-material .class-blu {
    --job-color: rgb(0, 185, 247)
}

.scheme-kagerou-material .class-dnc {
    --job-color: rgb(244, 143, 177)
}

.scheme-kagerou-material .class-whm,.scheme-kagerou-material .class-cnj {
    --job-color: rgb(117, 117, 117)
}

.scheme-kagerou-material .class-sch {
    --job-color: rgb(121, 134, 203)
}

.scheme-kagerou-material .class-ast {
    --job-color: rgb(121, 85, 72)
}

.scheme-kagerou-material .class-sge {
    --job-color: rgb(79, 195, 247)
}

.scheme-kagerou-material .class-chocobo,.scheme-kagerou-material .class-limit-break {
    --job-color: #444
}

.scheme-kagerou-material .class-line-self {
    --job-color: rgb(252, 115, 163)
}

.scheme-kagerou-material .class-line-others {
    --job-color: rgba(252, 115, 163, .4)
}

.scheme-ikegami-by-role-3 .class-gauge-default {
    --job-color: #444
}

.scheme-ikegami-by-role-3 .class-pld,.scheme-ikegami-by-role-3 .class-gla,.scheme-ikegami-by-role-3 .class-war,.scheme-ikegami-by-role-3 .class-mrd,.scheme-ikegami-by-role-3 .class-drk,.scheme-ikegami-by-role-3 .class-gnb {
    --job-color: hsl(207deg, 80%, 45%)
}

.scheme-ikegami-by-role-3 .class-mnk,.scheme-ikegami-by-role-3 .class-pgl,.scheme-ikegami-by-role-3 .class-drg,.scheme-ikegami-by-role-3 .class-lnc,.scheme-ikegami-by-role-3 .class-nin,.scheme-ikegami-by-role-3 .class-rog,.scheme-ikegami-by-role-3 .class-sam,.scheme-ikegami-by-role-3 .class-rpr,.scheme-ikegami-by-role-3 .class-vpr,.scheme-ikegami-by-role-3 .class-brd,.scheme-ikegami-by-role-3 .class-arc,.scheme-ikegami-by-role-3 .class-mch,.scheme-ikegami-by-role-3 .class-dnc,.scheme-ikegami-by-role-3 .class-smn,.scheme-ikegami-by-role-3 .class-acn,.scheme-ikegami-by-role-3 .class-blm,.scheme-ikegami-by-role-3 .class-thm,.scheme-ikegami-by-role-3 .class-rdm,.scheme-ikegami-by-role-3 .class-pct,.scheme-ikegami-by-role-3 .class-blu {
    --job-color: hsl(340deg, 85%, 40%)
}

.scheme-ikegami-by-role-3 .class-whm,.scheme-ikegami-by-role-3 .class-cnj,.scheme-ikegami-by-role-3 .class-sch,.scheme-ikegami-by-role-3 .class-ast,.scheme-ikegami-by-role-3 .class-sge {
    --job-color: hsl(94deg, 50%, 40%)
}

.scheme-ikegami-by-role-3 .class-chocobo,.scheme-ikegami-by-role-3 .class-limit-break {
    --job-color: #444
}

.scheme-ikegami-by-role-3 .class-line-self {
    --job-color: rgb(252, 115, 163)
}

.scheme-ikegami-by-role-3 .class-line-others {
    --job-color: rgba(252, 115, 163, .4)
}

.scheme-ikegami-by-role-5 .class-gauge-default {
    --job-color: #444
}

.scheme-ikegami-by-role-5 .class-pld,.scheme-ikegami-by-role-5 .class-gla,.scheme-ikegami-by-role-5 .class-war,.scheme-ikegami-by-role-5 .class-mrd,.scheme-ikegami-by-role-5 .class-drk,.scheme-ikegami-by-role-5 .class-gnb {
    --job-color: hsl(207deg, 80%, 45%)
}

.scheme-ikegami-by-role-5 .class-mnk,.scheme-ikegami-by-role-5 .class-pgl,.scheme-ikegami-by-role-5 .class-drg,.scheme-ikegami-by-role-5 .class-lnc,.scheme-ikegami-by-role-5 .class-nin,.scheme-ikegami-by-role-5 .class-rog,.scheme-ikegami-by-role-5 .class-sam,.scheme-ikegami-by-role-5 .class-rpr,.scheme-ikegami-by-role-5 .class-vpr {
    --job-color: hsl(340deg, 85%, 40%)
}

.scheme-ikegami-by-role-5 .class-brd,.scheme-ikegami-by-role-5 .class-arc,.scheme-ikegami-by-role-5 .class-mch,.scheme-ikegami-by-role-5 .class-dnc {
    --job-color: hsl(60deg, 90%, 30%)
}

.scheme-ikegami-by-role-5 .class-smn,.scheme-ikegami-by-role-5 .class-acn,.scheme-ikegami-by-role-5 .class-blm,.scheme-ikegami-by-role-5 .class-thm,.scheme-ikegami-by-role-5 .class-rdm,.scheme-ikegami-by-role-5 .class-pct,.scheme-ikegami-by-role-5 .class-blu {
    --job-color: hsl(290deg, 90%, 40%)
}

.scheme-ikegami-by-role-5 .class-whm,.scheme-ikegami-by-role-5 .class-cnj,.scheme-ikegami-by-role-5 .class-sch,.scheme-ikegami-by-role-5 .class-ast,.scheme-ikegami-by-role-5 .class-sge {
    --job-color: hsl(94deg, 50%, 40%)
}

.scheme-ikegami-by-role-5 .class-chocobo,.scheme-ikegami-by-role-5 .class-limit-break {
    --job-color: #444
}

.scheme-ikegami-by-role-5 .class-line-self {
    --job-color: rgb(252, 115, 163)
}

.scheme-ikegami-by-role-5 .class-line-others {
    --job-color: rgba(252, 115, 163, .4)
}

.scheme-mopimopi-default .class-gauge-default {
    --job-color: #757575
}

.scheme-mopimopi-default .class-pld,.scheme-mopimopi-default .class-gla {
    --job-color: #7B9AA2
}

.scheme-mopimopi-default .class-war,.scheme-mopimopi-default .class-mrd {
    --job-color: #A91A16
}

.scheme-mopimopi-default .class-drk {
    --job-color: #682531
}

.scheme-mopimopi-default .class-gnb {
    --job-color: #796D30
}

.scheme-mopimopi-default .class-mnk,.scheme-mopimopi-default .class-pgl {
    --job-color: #B38915
}

.scheme-mopimopi-default .class-drg,.scheme-mopimopi-default .class-lnc {
    --job-color: #3752D8
}

.scheme-mopimopi-default .class-nin,.scheme-mopimopi-default .class-rog {
    --job-color: #EE2E48
}

.scheme-mopimopi-default .class-sam {
    --job-color: #E45A0F
}

.scheme-mopimopi-default .class-rpr {
    --job-color: #EADD6F
}

.scheme-mopimopi-default .class-vpr {
    --job-color: #863E25
}

.scheme-mopimopi-default .class-brd,.scheme-mopimopi-default .class-arc {
    --job-color: #ADC551
}

.scheme-mopimopi-default .class-mch {
    --job-color: #148AA9
}

.scheme-mopimopi-default .class-dnc {
    --job-color: #E2B0AF
}

.scheme-mopimopi-default .class-smn,.scheme-mopimopi-default .class-acn {
    --job-color: #32670B
}

.scheme-mopimopi-default .class-blm,.scheme-mopimopi-default .class-thm {
    --job-color: #674598
}

.scheme-mopimopi-default .class-rdm {
    --job-color: #AC2997
}

.scheme-mopimopi-default .class-pct {
    --job-color: #D36A6D
}

.scheme-mopimopi-default .class-blu {
    --job-color: #183D9A
}

.scheme-mopimopi-default .class-whm,.scheme-mopimopi-default .class-cnj {
    --job-color: #BDBDBD
}

.scheme-mopimopi-default .class-sch {
    --job-color: #32307B
}

.scheme-mopimopi-default .class-ast {
    --job-color: #B1561C
}

.scheme-mopimopi-default .class-sge {
    --job-color: #85C4D4
}

.scheme-mopimopi-default .class-chocobo {
    --job-color: #757575
}

.scheme-mopimopi-default .class-limit-break {
    --job-color: #FFBB00
}

.scheme-mopimopi-default .class-line-self {
    --job-color: rgb(252, 115, 163)
}

.scheme-mopimopi-default .class-line-others {
    --job-color: rgba(252, 115, 163, .4)
}

.scheme-mopimopi-by-role .class-gauge-default {
    --job-color: #757575
}

.scheme-mopimopi-by-role .class-pld,.scheme-mopimopi-by-role .class-gla,.scheme-mopimopi-by-role .class-war,.scheme-mopimopi-by-role .class-mrd,.scheme-mopimopi-by-role .class-gnb,.scheme-mopimopi-by-role .class-drk {
    --job-color: #475ECE
}

.scheme-mopimopi-by-role .class-mnk,.scheme-mopimopi-by-role .class-pgl,.scheme-mopimopi-by-role .class-drg,.scheme-mopimopi-by-role .class-lnc,.scheme-mopimopi-by-role .class-nin,.scheme-mopimopi-by-role .class-rog,.scheme-mopimopi-by-role .class-sam,.scheme-mopimopi-by-role .class-rpr,.scheme-mopimopi-by-role .class-vpr,.scheme-mopimopi-by-role .class-brd,.scheme-mopimopi-by-role .class-arc,.scheme-mopimopi-by-role .class-mch,.scheme-mopimopi-by-role .class-dnc,.scheme-mopimopi-by-role .class-smn,.scheme-mopimopi-by-role .class-acn,.scheme-mopimopi-by-role .class-blm,.scheme-mopimopi-by-role .class-thm,.scheme-mopimopi-by-role .class-rdm,.scheme-mopimopi-by-role .class-pct,.scheme-mopimopi-by-role .class-blu {
    --job-color: #813B3C
}

.scheme-mopimopi-by-role .class-whm,.scheme-mopimopi-by-role .class-cnj,.scheme-mopimopi-by-role .class-sch,.scheme-mopimopi-by-role .class-ast,.scheme-mopimopi-by-role .class-sge {
    --job-color: #467837
}

.scheme-mopimopi-by-role .class-chocobo {
    --job-color: #757575
}

.scheme-mopimopi-by-role .class-limit-break {
    --job-color: #FFBB00
}

.scheme-mopimopi-by-role .class-line-self {
    --job-color: rgb(252, 115, 163)
}

.scheme-mopimopi-by-role .class-line-others {
    --job-color: rgba(252, 115, 163, .4)
}

.scheme-amethyst .class-gauge-default {
    --job-color: rgb(32, 32, 32)
}

.scheme-amethyst .class-pld,.scheme-amethyst .class-gla {
    --job-color: rgb(136, 204, 204)
}

.scheme-amethyst .class-war,.scheme-amethyst .class-mrd {
    --job-color: rgb(146, 16, 0)
}

.scheme-amethyst .class-drk {
    --job-color: rgb(100, 35, 36)
}

.scheme-amethyst .class-gnb {
    --job-color: rgb(197, 181, 110)
}

.scheme-amethyst .class-mnk,.scheme-amethyst .class-pgl {
    --job-color: rgb(217, 176, 40)
}

.scheme-amethyst .class-drg,.scheme-amethyst .class-lnc {
    --job-color: rgb(73, 104, 225)
}

.scheme-amethyst .class-nin,.scheme-amethyst .class-rog {
    --job-color: rgb(86, 72, 72)
}

.scheme-amethyst .class-sam {
    --job-color: rgb(177, 160, 102)
}

.scheme-amethyst .class-rpr {
    --job-color: rgb(160, 160, 160)
}

.scheme-amethyst .class-vpr {
    --job-color: rgb(239, 167, 21)
}

.scheme-amethyst .class-brd,.scheme-amethyst .class-arc {
    --job-color: rgb(180, 209, 67)
}

.scheme-amethyst .class-mch {
    --job-color: rgb(56, 176, 180)
}

.scheme-amethyst .class-dnc {
    --job-color: rgb(238, 206, 197)
}

.scheme-amethyst .class-smn,.scheme-amethyst .class-acn {
    --job-color: rgb(40, 138, 59)
}

.scheme-amethyst .class-blm,.scheme-amethyst .class-thm {
    --job-color: rgb(100, 70, 150)
}

.scheme-amethyst .class-rdm {
    --job-color: rgb(229, 121, 168)
}

.scheme-amethyst .class-pct {
    --job-color: rgb(220, 223, 49)
}

.scheme-amethyst .class-whm,.scheme-amethyst .class-cnj {
    --job-color: rgb(207, 176, 144)
}

.scheme-amethyst .class-sch {
    --job-color: rgb(35, 40, 152)
}

.scheme-amethyst .class-ast {
    --job-color: rgb(217, 128, 40)
}

.scheme-amethyst .class-sge {
    --job-color: rgb(96, 96, 112)
}

.scheme-amethyst .class-blu {
    --job-color: rgb(45, 97, 198)
}

.scheme-amethyst .class-chocobo {
    --job-color: rgb(255, 220, 0)
}

.scheme-amethyst .class-limit-break {
    --job-color: rgb(255, 162, 0)
}

.scheme-amethyst .class-line-self {
    --job-color: rgb(252, 115, 163)
}

.scheme-amethyst .class-line-others {
    --job-color: rgba(252, 115, 163, .4)
}

.scheme-fflogs .class-gauge-default {
    --job-color: #2599be
}

.scheme-fflogs .class-pld,.scheme-fflogs .class-gla {
    --job-color: #588296
}

.scheme-fflogs .class-war,.scheme-fflogs .class-mrd {
    --job-color: #cf2621
}

.scheme-fflogs .class-gnb {
    --job-color: #796d30
}

.scheme-fflogs .class-drk {
    --job-color: #681366
}

.scheme-fflogs .class-mnk,.scheme-fflogs .class-pgl {
    --job-color: #d69c00
}

.scheme-fflogs .class-drg,.scheme-fflogs .class-lnc {
    --job-color: #4164cd
}

.scheme-fflogs .class-nin,.scheme-fflogs .class-rog {
    --job-color: #af1964
}

.scheme-fflogs .class-sam {
    --job-color: #e46d04
}

.scheme-fflogs .class-rpr {
    --job-color: #965a90
}

.scheme-fflogs .class-vpr {
    --job-color: #108210
}

.scheme-fflogs .class-brd,.scheme-fflogs .class-arc {
    --job-color: #91ba5e
}

.scheme-fflogs .class-mch {
    --job-color: #6ee1D6
}

.scheme-fflogs .class-dnc {
    --job-color: #e2b0af
}

.scheme-fflogs .class-smn,.scheme-fflogs .class-acn {
    --job-color: #2d9B78
}

.scheme-fflogs .class-blm,.scheme-fflogs .class-thm {
    --job-color: #a579d6
}

.scheme-fflogs .class-rdm {
    --job-color: #e87b7b
}

.scheme-fflogs .class-pct {
    --job-color: #fc92e1
}

.scheme-fflogs .class-blu {
    --job-color: #2459ff
}

.scheme-fflogs .class-whm,.scheme-fflogs .class-cnj {
    --job-color: #afa08c
}

.scheme-fflogs .class-sch {
    --job-color: #8657ff
}

.scheme-fflogs .class-ast {
    --job-color: #ab9400
}

.scheme-fflogs .class-sge {
    --job-color: #80a0f0
}

.scheme-fflogs .class-limit-break {
    --job-color: #2599be
}

.root.icon-legacy .icon {
    background-image: url(./classes-C6zxfEFq.png);
    background-size: 1100% 600%;
    background-repeat: no-repeat;
    background-position: 90% 60%;
    opacity: 1!important
}

.root.icon-legacy .icon:before {
    content: ""!important
}

.root.icon-legacy .icon.class-gla {
    background-position: 0% 0%
}

.root.icon-legacy .icon.class-mrd {
    background-position: 10% 0%
}

.root.icon-legacy .icon.class-pgl {
    background-position: 20% 0%
}

.root.icon-legacy .icon.class-lnc {
    background-position: 30% 0%
}

.root.icon-legacy .icon.class-rog {
    background-position: 40% 0%
}

.root.icon-legacy .icon.class-arc {
    background-position: 50% 0%
}

.root.icon-legacy .icon.class-thm {
    background-position: 60% 0%
}

.root.icon-legacy .icon.class-acn {
    background-position: 70% 0%
}

.root.icon-legacy .icon.class-cnj {
    background-position: 90% 0%
}

.root.icon-legacy .icon.class-pld {
    background-position: 0% 20%
}

.root.icon-legacy .icon.class-war {
    background-position: 10% 20%
}

.root.icon-legacy .icon.class-mnk {
    background-position: 20% 20%
}

.root.icon-legacy .icon.class-drg {
    background-position: 30% 20%
}

.root.icon-legacy .icon.class-nin {
    background-position: 40% 20%
}

.root.icon-legacy .icon.class-brd {
    background-position: 50% 20%
}

.root.icon-legacy .icon.class-blm {
    background-position: 60% 20%
}

.root.icon-legacy .icon.class-smn {
    background-position: 70% 20%
}

.root.icon-legacy .icon.class-sch {
    background-position: 80% 20%
}

.root.icon-legacy .icon.class-whm {
    background-position: 90% 20%
}

.root.icon-legacy .icon.class-drk {
    background-position: 0% 40%
}

.root.icon-legacy .icon.class-mch {
    background-position: 10% 40%
}

.root.icon-legacy .icon.class-ast {
    background-position: 20% 40%
}

.root.icon-legacy .icon.class-sam {
    background-position: 30% 40%
}

.root.icon-legacy .icon.class-rdm {
    background-position: 40% 40%
}

.root.icon-legacy .icon.class-blu {
    background-position: 50% 40%
}

.root.icon-legacy .icon.class-gnb {
    background-position: 60% 40%
}

.root.icon-legacy .icon.class-dnc {
    background-position: 70% 40%
}

.root.icon-legacy .icon.class-rpr {
    background-position: 80% 40%
}

.root.icon-legacy .icon.class-sge {
    background-position: 90% 40%
}

.root.icon-legacy .icon.class-acn-pet {
    background-position: 0% 60%
}

.root.icon-legacy .icon.class-garuda {
    background-position: 10% 60%
}

.root.icon-legacy .icon.class-ifrit {
    background-position: 20% 60%
}

.root.icon-legacy .icon.class-titan {
    background-position: 30% 60%
}

.root.icon-legacy .icon.class-eos {
    background-position: 40% 60%
}

.root.icon-legacy .icon.class-selene {
    background-position: 50% 60%
}

.root.icon-legacy .icon.class-rook {
    background-position: 60% 60%
}

.root.icon-legacy .icon.class-bishop {
    background-position: 70% 60%
}

.root.icon-legacy .icon.class-crp {
    background-position: 0% 80%
}

.root.icon-legacy .icon.class-bsm {
    background-position: 10% 80%
}

.root.icon-legacy .icon.class-arm {
    background-position: 20% 80%
}

.root.icon-legacy .icon.class-gsm {
    background-position: 30% 80%
}

.root.icon-legacy .icon.class-ltw {
    background-position: 40% 80%
}

.root.icon-legacy .icon.class-wvr {
    background-position: 50% 80%
}

.root.icon-legacy .icon.class-alc {
    background-position: 60% 80%
}

.root.icon-legacy .icon.class-cul {
    background-position: 70% 80%
}

.root.icon-legacy .icon.class-chocobo {
    background-position: 90% 80%
}

.root.icon-legacy .icon.class-min {
    background-position: 0% 100%
}

.root.icon-legacy .icon.class-btn {
    background-position: 10% 100%
}

.root.icon-legacy .icon.class-fsh {
    background-position: 20% 100%
}

.root.icon-legacy .icon.class-vpr {
    background-position: 30% 100%
}

.root.icon-legacy .icon.class-pct {
    background-position: 40% 100%
}

.root.icon-legacy .icon.class-limit-break {
    background-position: 90% 100%
}

@font-face {
    font-family: FFXIVAppIcons;
    src: url(./FFXIVAppIcons.woff2) format("woff2")
}

.icon {
    font-family: FFXIVAppIcons;
    font-size: 1.375em;
    font-weight: 100;
    -webkit-font-smoothing: antialiased
}

.icon:before {
    display: inline-block;
    width: 100%;
    text-align: center
}

.root.icon-default .icon,.root.icon-monochrome .icon {
    text-shadow: 0 0 .05em hsla(30deg,100%,50%,.5),0 0 .25em hsla(30deg,100%,50%,.5),0 0 .1em #d90,0 0 .2rem rgba(0,0,0,.5333333333),0 0 .2em #000
}

.root.icon-default.single-value .icon,.root.icon-default.hide-name .icon,.root.icon-monochrome.single-value .icon,.root.icon-monochrome.hide-name .icon {
    text-shadow: 0 0 .05em hsla(30deg,100%,50%,.5),0 0 .25em hsla(30deg,100%,50%,.5),0 0 .1em #d90,0 0 .2rem rgba(0,0,0,.5333333333)
}

.root.icon-monochrome .icon:before {
    filter: grayscale(1)
}

.icon.class-gla:before {
    content: ""
}

.icon.class-pgl:before {
    content: ""
}

.icon.class-mrd:before {
    content: ""
}

.icon.class-lnc:before {
    content: ""
}

.icon.class-arc:before {
    content: ""
}

.icon.class-cnj:before {
    content: ""
}

.icon.class-thm:before {
    content: ""
}

.icon.class-crp:before {
    content: ""
}

.icon.class-bsm:before {
    content: ""
}

.icon.class-arm:before {
    content: ""
}

.icon.class-gsm:before {
    content: ""
}

.icon.class-ltw:before {
    content: ""
}

.icon.class-wvr:before {
    content: ""
}

.icon.class-alc:before {
    content: ""
}

.icon.class-cul:before {
    content: ""
}

.icon.class-min:before {
    content: ""
}

.icon.class-btn:before {
    content: ""
}

.icon.class-fsh:before {
    content: ""
}

.icon.class-pld:before {
    content: ""
}

.icon.class-mnk:before {
    content: ""
}

.icon.class-war:before {
    content: ""
}

.icon.class-drg:before {
    content: ""
}

.icon.class-brd:before {
    content: ""
}

.icon.class-whm:before {
    content: ""
}

.icon.class-blm:before {
    content: ""
}

.icon.class-acn:before {
    content: ""
}

.icon.class-smn:before {
    content: ""
}

.icon.class-sch:before {
    content: ""
}

.icon.class-rog:before {
    content: ""
}

.icon.class-nin:before {
    content: ""
}

.icon.class-mch:before {
    content: ""
}

.icon.class-drk:before {
    content: ""
}

.icon.class-ast:before {
    content: ""
}

.icon.class-sam:before {
    content: ""
}

.icon.class-rdm:before {
    content: ""
}

.icon.class-blu:before {
    content: ""
}

.icon.class-gnb:before {
    content: ""
}

.icon.class-dnc:before {
    content: ""
}

.icon.class-rpr:before {
    content: ""
}

.icon.class-sge:before {
    content: ""
}

.icon.class-vpr:before {
    content: ""
}

.icon.class-pct:before {
    content: ""
}

.icon.class-limit-break:before {
    content: ""
}

.icon.class-rdm:before {
    transform: translate(-4%)
}

.icon.class-nin:before {
    transform: translate(1%)
}

.icon.class-ast:before {
    transform: scale(1.2) translate(3%)
}

.icon.class-blm:before {
    transform: scale(.875)
}
